<%- model_class = SandwichOrder -%>
<div class="page-header">
  <h2>Sandwich Order</h2>
</div>

<div class="row">
  <div class="span6 offset3">
    <p class="lead text-center"><%= @quote.first.html_safe %>
      <%= link_to @quote.last, :target => :_blank do %>
        <i class="icon-eye-open"></i>
      <% end %>
    </p>
  </div>
</div>

<dl class="dl-horizontal">
  <dt><strong>Orderer Name:</strong></dt>
  <dd><%= @sandwich_order.orderer_name %></dd>
</dl>
